.footer__column-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    transition: opacity 0.2s ease-in;
}

.footer__column-link:hover {
    opacity: .5;
}